#container {
  width: 1000px;
  margin: 0 auto;
  background-color: #eee;
  overflow: hidden;
}
ul {
  float: right;
  margin: 0px;
}
li {
  display: inline-block;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #000;
}
h3 {
  text-align: center;
  clear: both;
}
nav {
  float: right;
  margin-bottom: 5px;
}
select {
  width: 80px;
  padding: 3px;
}
main {
  clear: both;
}
table {
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}
th {
  padding: 0 70px;
}
th:nth-child(2) {
  padding: 0 150px;
}
.write {
  float: right;
}
