#container {
  box-sizing: border-box;
  background-color: #eee;
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
ul {
  float: right;
  margin: 0px;
}
li {
  display: inline-block;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #000;
}
h3 {
  text-align: center;
  clear: both;
}
fieldset {
  border: none;
}
label {
  display: inline-block;
  width: 50px;
}
#title {
  width: 600px;
}
#author {
  width: 200px;
}

li {
  list-style: none;
}
li:nth-child(1) input {
  margin-right: 0px;
}
li:nth-child(2) {
  float: left;
}

li:nth-child(3) {
  float: right;
}
li:nth-child(4) {
  float: left;
}

li:nth-child(5) {
  float: left;
}
li:nth-child(6) {
  float: left;
}
li:nth-child(7) {
  float: left;
}

input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin: 8px;
  margin-left: 0px;
  margin-right: 65px;
  display: inline-block;
  width: 200px;
}
#date {
  display: inline-block;
  margin-right: 63px;
  width: 200px;
}
#select {
  width: 100px;
  display: inline-block;
}
#variety {
  display: inline-block;
  margin-right: 30px;
  width: 100px;
}
#gender {
  display: inline-block;
  margin-right: 30px;
  width: 100px;
}
#age {
  display: inline-block;
  margin-right: 30px;
  width: 100px;
}
select {
  margin-bottom: 40px;
  margin-right: 50px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #000;
}
.content {
  float: left;
}
textarea {
  border: none;
  border-radius: 10px;
  text-align: left;
}
section {
  text-align: right;
  margin-right: 75px;
  margin-bottom: 20px;
}
button {
  font-weight: bolder;
  font-size: 15px;
}
